.replover {
  width: 100%;
  height: 475px;
  position: absolute;
  top: 2524px;
  left: 0;
  background-image: url(/assets/reploverbg.png);
  background-repeat: repeat-y;
  background-size: cover;
}

.replover:hover {
  filter: brightness(75%);
}
